<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ParaMed</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

<div class="container">
    <h1>ParaMed</h1>

    <h2>Making it easier for the help to arrive.</h2>
    <br>
    <h3>Coming Soon</h3>
    <br><br><br>
    <h4>A project by Bright Solutions</h4>
    <h5>Renee Serraglio, Danish Bassi, Cheok Seng Lee</h5>
</div>

</body>
</html>